* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

header {
  position: sticky;
  top: 0px;
}

h1 {
  width: 100%;
  height: 60px;
  background-color: aqua;
  margin: 0;
  /* die farbe soll ganz bedeckt werden. also ganz oben auch. Ausserdem sieht der fixed position falsch aus, soll nicht list selecion bedecken*/
}

.zwei {
  color: blue;
}

.image {
  display: flex;
}

h3 {
  text-transform: uppercase;
  font-size: 2em;
  color: rgb(238, 155, 0);
}

.one a:visited {
  color: green;
}
.one a:hover {
  color: red;
}
.two a:visited {
  color: green;
}
.two a:hover {
  color: red;
}
.three a:visited {
  color: green;
}
.three a:hover {
  color: red;
}
/* did visited really work?  */

.box-model {
  padding: 5px;
  /* parent element? Habe keine ahnung was diese aufgabe heissen soll. 
  Stelle im Abschnitt "_Box Model_" sicher, dass die margin des Abschnittselements, das einen Absatz und ein Bild enthält, 10 % der Breite des übergeordneten Elements beträgt.*/
}
.tree img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  /* wieso wird es oval und nicht rund */
}
